<div id="sidebar">
  <p class="h3">Lineup Editor</p>

  <div role="navigation">
    <ul class="nav nav-fill flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/players">Players</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/lineups">Lineups</a>
      </li>
    </ul>
  </div>
</div>
