<% include ./partials/header %>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h1>Welcome</h1>
    </div>

    <div id="navBar" class="col-3">
      <% include ./partials/navbar.ejs %>
    </div>
  </div>

<script type="text/javascript">
  // $(function () { // $(document).ready() deprecated
  //
  // });
</script>

<% include ./partials/footer %>
