html, body {
  padding: 0;
  margin: 0;
}

#lineupConfig {
  width: 300px;
  float: right;
}

#lineupConfig input {
  display: block;
  /*margin: 0 0 10px auto;
  display: inline-block;*/
}

#lineupDiv, #subDiv {
  margin: 0 auto;
  padding: 5px;
  /*display: inline-block;  */
}

.lineupTable, .subTable {
  border: 1px solid black;
  border-collapse: collapse;

  min-width: 400px;
}

.lineupTable p, .subTable p {
  text-align: center;
}

.lineupTable tr:first-child, .subTable tr:first-child {
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.lineupTable td:first-child {
  font-weight: bold;
  text-align: center;
}

.lineupTable td, .subTable td {
  border: 1px solid black;
}
